services:
  sql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "admin123!"
    platform: "linux/amd64"
    ports:
      - "1433:1433"
    volumes:
      - sqldata:/var/opt/mssql
  redis:
    image: redis:latest
    ports:
      - "6380:6379"
    volumes:
      - redisdata:/data

volumes:
  redisdata:
  sqldata: